RedLine/Crutch/CrutchList_1_0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="CrutchList_1_0"
    targetNamespace="http://redline.com/CrutchList_1_0.xsd"
    elementFormDefault="qualified"
    xmlns="http://redline.com/CrutchList_1_0.xsd"
    xmlns:mstns="http://redline.com/CrutchList_1_0.xsd"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
>
  <xs:element name="CrutchList">
    <xs:complexType>
      <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:element name="Word" type="xs:string" />
      </xs:sequence>
      <xs:attribute name="Name" type="xs:String" use="required"/>
    </xs:complexType>
  </xs:element>
  
</xs:schema>
